[2021-01-15 11:40] theofidry commented on #524
Closing in favour of #525

[2021-01-15 11:40] #524 closed

[2021-01-15 11:42] theofidry commented on #525
If there is any way to prevent this in a reliable manner I'm open to it, but otherwise this looks like an acceptable trade-off as not removing `*Test.php` files is resulting in a lot of noise

[2021-01-18 09:02] jmalinens commented on #525
I thought about creating an issue in twigphp/twig but it looks like too big of a BC break and hassle to rename the class there.
Let's just close this issue!

[2021-01-18 09:02] #525 closed

[2021-01-21 08:05] jdkysq opened #526 "The tag "@ 添加" does not seem to be wellformed, please check it for errors"
## Bug report

| Question    | Answer
| ------------| ---------------
| Box version | Box version 3.11.1@83567c4
| PHP version | PHP 7.4.13 (cli) (built: Dec 29 2020 17:12:50) ( NTS )
| Platform with version | Windows WSL2
| Github Repo | -

[code]

<details>
 <summary>box.json</summary>

[code]
</details>

<details>
 <summary>Output</summary>

[code]
</details>

[2021-01-21 10:14] theofidry commented on #526
Hi,

It's unfortunately a bit hard to tell from the stack trace alone, would it be possible to know what the code of this `StandardTagFactory.php` looks like before and after? (you can extract your PHAR with `extract` or use `--debug` to have a dump of everything the code that is going to be bundled in the PHAR in a `.box_dump` directory)

[2021-01-25 20:54] Jeckerson commented on #526
Getting similar error:

This file is from `phpdocumentor/reflection-docblock` package

https://github.com/phpDocumentor/ReflectionDocBlock/blob/e3324ecbde7319b0bbcf0fd7ca4af19469c38da9/src/DocBlock/StandardTagFactory.php#L189

[2021-01-26 05:59] jdkysq commented on #526
Sorry!
The Chinese New Year is approaching and we are very busy now.
I used the "humbug/box" version of "3.10.0" to solve this problem.
I will be free in a few days, and I will look for problems and post them.

[2021-01-26 12:34] jdkysq commented on #526
Thank you for your help

[2021-01-26 13:48] villfa commented on #526
@jdkysq according the error message there is a space after `@`. It is probably the root of your problem.

[2021-01-26 15:13] villfa commented on #526
@Jeckerson your tags are also considered as malformed because of the trailing comma in their name. Remove them and it should be fine.

[2021-01-26 15:15] Jeckerson commented on #526
@villfa yes, I already did it. But there are packages that also contains invalid tags, which means that with some specific packages inside composer.json it won't be possible to compile .phar file...

[2021-01-26 15:23] theofidry commented on #526
If possible it would be nicer to not bail on it and just ignore the (malformed) tag; after all it's only for a minor performance optimization

[2021-01-26 18:00] jdkysq commented on #526
Thank you for your help.
I found this bug, it is in the third-party composer.
@theofidry

[2021-01-26 18:05] jdkysq commented on #526
To be precise, other people’s phpdocument is not standardized

[2021-01-27 13:34] ondrejmirtes opened #528 "InstalledVersions.php should not be prefixed by default"
## Bug report

This is kind of continuation of https://github.com/box-project/box/issues/471. When building the PHAR with latest Box and Composer v2, the InstalledVersions.php is there but it comes with a prefixed namespace.

ClassLoader.php that's right next to it has the original namespace `Composer\Autoload`.

| Question    | Answer
| ------------| ---------------
| Box version | Box version 3.

[2021-01-27 13:40] ondrejmirtes commented on #528
I was able to make a workaround: https://github.com/phpstan/phpstan-src/commit/be0f72f4c7fa2f1e33735c2e3e1f12ff111b4d99

[2021-01-27 15:16] alexander-schranz commented on #528
Should the prefix really be removed. Would that not end that InstalledVersions are now merged together and if somebody check for a package which only exist in the box would end with an error when he tries then use the a class from that namespace, which not exist as the namespace is changed by the box project.

I would maybe think that the `InstalledVersions.php` instead being added to the [exclude

[2021-01-27 15:18] ondrejmirtes commented on #528
The whole point of https://github.com/composer/composer/pull/9635 was to solve situation when there are multiple `InstalledVersions` defined so that they can work together. Besides, currently it generates some nonsensical code like:

[code]

Even when `Composer\Autoload\ClassLoader` isn't prefixed in the same PHAR archive...

[2021-01-27 15:29] alexander-schranz commented on #528
Yeah multiple autoloader but as box project does rename the dependencies of the phar I'm not sure if that good idea to add the dependencies added to the InstalledVersion of the project running the phar.

I'm afraid of something like this happens if we change that:

A phar having the following dependencies:

 - symfony/yaml

 And php without any dependencies try to use the phar

[code]

I'm afraid

[2021-01-27 15:35] ondrejmirtes commented on #528
Yeah, code like that can definitely break, but I'd hope that you'd ask `class_exists()` instead of `InstalledVersions::isInstalled` :)

[2021-01-27 16:15] alexander-schranz commented on #528
Yeah sure but there would be cases where maybe `Yaml` exists in the project with a lower version then the one in the `.phar` and you check for a specific to add a parameter or not and I think the phar should never override `\Composer\InstalledVersions` as it does not represent any real dependencies when it rename vendor files.

[2021-01-29 15:09] theofidry commented on #528
I'm wondering if keeping Composer autoloading in the Box PHAR is wise... Maybe it should be switched to just require very single PHP file got at the end as this is what happens anyway within a PHAR

[2021-01-30 07:02] #526 closed

[2021-03-07 11:59] GrahamCampbell opened #530 "box.phar missing from 3.12.0 release"

[2021-03-18 15:26] robocoder opened #531 "nul string for output, deletes current directory"
## Bug report

Running `box compile` with this config will delete the current directory:
[code]

Propose it be treated like:
[code]

[2021-03-18 15:28] robocoder commented on #531
Maybe  also check to see if output is a directory? i.e., handle case of
[code]

[2021-03-18 15:28] robocoder opened #532 "Dump file list without outputting .phar"
## Feature Request

Provide a compile option (e.g., --dry-run) that dumps the list of files that would have been included in the phar without generating the .phar file.

Rationale:
* in box.json, `output` cannot be set to, for example, "/dev/null"
* less space utilization (compared to generating .phar or using --debug)

[2021-03-26 14:34] danepowell commented on #530
@theofidry can you take a look please? This is actually quite serious, as many projects probably download Box in their CI scripts like `curl -L https://github.com/humbug/box/releases/latest/download/box.phar`. This causes hard-to-debug failures because box.phar still downloads but it's just a 404 file.

[2021-03-26 18:09] danepowell commented on #487
#530 is an example of why we really need this. Without such a signature file, it's difficult for downstream CI systems to verify the integrity of box.phar.

[2021-03-26 18:31] szepeviktor commented on #530
_Dear CI scripts!_

Please use wget as its return status is 8 when HTTP/404 is received.

[2021-03-26 18:38] szepeviktor commented on #530
@smoench Could you upload a single PHAR file for us?
https://github.com/box-project/box/releases/tag/3.12.0

[2021-03-26 19:24] smoench commented on #530
No, I'm sorry. I don't have rights for that. The reason why nothing were uploaded was a failing pipeline https://github.com/box-project/box/actions/runs/629384649. I tried to propose a quickfix with https://github.com/box-project/box/pull/535 using ubuntu-18.04 because there were some strange failures and latest successful run was with ubuntu-18.04. But there are still some errors. So I think the

[2021-04-09 15:11] smoench commented on #530
Finally I could fix the pipeline in #535.

@theofidry before releasing a new release for box, a new release for php-scoper is needed with the following fix https://github.com/humbug/php-scoper/pull/466 which should be included in the new box release as well.

[2021-04-11 10:08] johnstevenson opened #536 "Windows: The directory name is invalid."
## Bug report

| Question    | Answer
| ------------| ---------------
| Box version | - dev-master
| PHP version | -
| Platform with version | Windows
| Github Repo | -

This error is caused by `FileSystem::remove` using the native `rd` command (remove a directory) on all file system types.

[2021-04-12 21:59] #536 closed

[2021-04-13 21:38] theofidry commented on #530
@smoench thanks for the note, will do a release in the coming week

[2021-04-14 07:15] smoench commented on #530
Would it be possible having a bugfix release as soon as possible? Because nearly all tools relying on latest Symfony and using scoping are failing to build. The symfony string component uses `parent` [return types](https://github.com/symfony/string/blob/5.x/UnicodeString.php#L203) which is in the [requirements](https://github.com/symfony/console/blob/5.x/composer.json#L25) of symfony console.

Let

[2021-04-14 08:34] theofidry commented on #530
Once I'm off work and it's not 1am :)

[2021-04-14 22:28] sebastianfeldmann opened #546 "PHAR file is missing from github releases since 3.12.0"
Tanks for the PHPScoper update and the 3.12.1 release.
I noticed that since version 3.12.0 no PHAR file is added to the release which breaks the PHIVE installation of box.

Is this intentional?

[2021-04-15 06:56] smoench commented on #546
The build pipeline has failed again due to an api rate limit. #547 should fix that issue 🤞

[2021-04-15 09:01] #530 closed

[2021-04-15 09:01] #546 closed

[2021-04-15 09:12] szepeviktor commented on #530
@theofidry Thank you.
So we won't have PHAR files in release attachments?

[2021-04-15 09:21] smoench commented on #530
@szepeviktor the latest tag has a phar file attached https://github.com/box-project/box/releases/tag/3.12.2

[2021-04-15 09:24] theofidry commented on #530
You do when the CI works, but if it failed it's very unlikely that I'll manually build and upload it

[2021-04-15 10:26] szepeviktor commented on #530
Thank you very much for clarifying that.

[2021-04-15 12:19] smoench opened #548 "Drop composer v1 support"
## Feature Request

[packagist.org is deprecating composer v1 support](https://blog.packagist.com/deprecating-composer-1-support/) starting next month. Lets drop also the support it will save the planet resources a bit 🌍

[2021-04-24 19:20] maks-rafalko opened #549 "3.12.2 fails with Amp\Parallel\Worker\TaskFailureException"
## Bug report

| Question    | Answer
| ------------| ---------------
| Box version | 3.11.0 - 3.12.2
| PHP version | 7.4
| Platform with version | docker alpine
| Github Repo | https://github.com/infection/infection/tree/reproducer/box-issue

After upgrading from 3.10.0 to 3.12.2, I get the following error when run Box for Infection project:

[code]
How to reproduce: checkout https://github.com/i

[2021-04-30 09:02] Anyqax opened #550 "Build fails with "Call to undefined function get_debug_type()""
## Bug report

| Question    | Answer
| ------------| ---------------
| Box version | 3.12.2@42e0a50
| PHP version | 7.4.16
| Platform with version | Ubuntu

When trying to build with the latest 3.12.2 .phar Release, I get the error:

[code]

[code]

I've tried earlier releases back to 3.8.5 but all with the same error.
This only happens on our jenkins server, locally (a windows machine) works fin

[2021-05-07 09:58] Willdogx opened #551 "Compile is failing in a symfony project"
I am trying to compile a symfony cli application, I followed the https://github.com/box-project/box/blob/master/doc/symfony.md#symfony-support recommendations.

This is the output
[code]

I have ran the composer dump-env prod command, and these are my scripts in composer
[code]

Also I am using box in the project, and not globally, using the bamarni/composer-bin-plugin as the guide said.
Do you kn

[2021-05-10 21:06] theofidry commented on #550
It is quite curious as this appears to break on the scoped Box code but I would except the CI to fail

[2021-05-15 11:26] theofidry commented on #549
I can also reproduce it locally, trying to figure it out

[2021-05-15 11:58] theofidry commented on #549
This appears to be caused by `thecodingmachine/safe/generated/curl.php` & the PHP annotation compactor. The file contains invalid annotations and the PHP compactor chocks on it. Since the exception raised comes form phpDocumentator and is a `InvalidArgumentException`, Box bails out on it. For clarity this bug can be reproduced with `--no-parallel` where it is a bit easier to inspect & debug.

It a

[2021-05-15 12:01] #549 closed

[2021-05-15 13:45] theofidry opened #552 "Optimize no-parallel run"
- Do not use `SerializablePhpScoper` when no-parallel is used
- Do not execute the process file bootstrapping in `Box`
- Enable back the PHPBench target

[2021-05-15 17:58] Anyqax commented on #550
Figured it out: The phar.readonly setting was set to 'On' on the CI server.
Either omitting the "--no-restart" or using "php -d phar.readonly=0 box.phar" works.
Maybe the check for the phar.readonly setting could be added to the Box Requirements Checker?

[2021-05-15 21:29] theofidry commented on #550
Nice to find it! Whilst it may explain why it went under the radar I still think the error needs fixing.

It's a bit hard to do as Box restart is there to avoid this (it makes it easier for the user) and there is no way to know that for the requirement checker in advance

[2021-06-06 15:53] ondrejmirtes opened #555 "Compatibility with Composer v2.1.0 and later"
## Bug report

| Question    | Answer
| ------------| ---------------
| Box version | Box version 3.11.1@83567c4 2021-01-02 09:53:51 UTC
| PHP version | 8.0.3
| Platform with version | e.g. Ubuntu/Windows/MacOS
| Github Repo | -

Composer v2.1.0 started including `vendor/composer/installed.php` file in `InstalledVersions.php`. This file is new and isn't whitelisted by Box (or maybe PHP-Scoper) to

[2021-06-06 15:54] ondrejmirtes commented on #555
There was a similar problem before: https://github.com/box-project/box/pull/484

[2021-06-21 08:25] #520 closed

[2021-07-13 09:45] crispy-computing-machine opened #556 "memory_to_bytes() INI parsing issue (32bit)"
## Bug report

| Question    | Answer
| ------------| ---------------
| Box version | Box version 3.13.0@275b091
| PHP version | PHP 7.4.18 (cli) (built: Apr 27 2021 17:19:39) ( ZTS Visual C++ 2017 x86 )
| Platform with version | Windows 10
| Github Repo | NA

To replicate:
Run **box.phar compile** with [**2G**](https://www.php.net/manual/en/faq.using.php#faq.using.shorthandbytes) as PHP [memory_l

[2021-07-13 13:30] theofidry commented on #556
Hi, thanks for the bug report; is it something you can manage to reproduce consistently?

The problematic function is:

[code]

but I hardly see how `$bytes` can be a float there: it is an int and is only being manipulated with ints...

[2021-07-14 08:09] crispy-computing-machine commented on #556
After a bit of reading it looks like an [Integer overflow](https://www.php.net/manual/en/language.types.integer.php) as the number goes over PHP_INT_MAX on 32bit PHP installs.

Looking at the values as they are multiplied in the function as it gets to the kilobytes one the value is interpreted as a float.

[code]

Suggestion:

[code]

[2021-07-26 15:07] kbond opened #558 "Phar does not work as expected without the .phar extension"
I'm having an issue with [this project](https://github.com/kbond/phpmyadmin-server) when running as a phar without the `phar` extension.

When running the phar with the extension `php phpmyadmin.phar` or if executable, just `phpmyadmin.phar` it works exactly as expected.

When I rename the file to remove the `phar` extension (so it becomes `phpmyadmin`), I get the following error:

[code]

This oc

[2021-07-26 20:31] kbond commented on #558
I _think_ you can't include a file from a phar w/o the phar extension. [Related Stack Overflow question](https://stackoverflow.com/questions/59302726/include-php-phar-without-phar-extension).

 If what I'm experiencing is simply a _PHP limitation_, this issue can be closed. I did create a workaround in my project.

[2021-08-02 08:19] theofidry commented on #558
I can confirm it's a PHP limitation :/

I believe the reason is that when you have `'phar:///path/to/phpmyadmin/vendor/symfony/web-server-bundle/Resources/router.php'`, without the `.phar` then PHP can't know which part of the path is the root and so is unable to deduce the path of the file within the PHAR. I do not know if this could be solved within PHP itself, but I highly doubt anyone is gonna

[2021-08-02 08:19] #558 closed

[2021-08-04 05:15] llaville commented on #550
I confirm that this issue still exists with latest version 3.13 of Box (3.13.0@275b091)

[2021-08-04 06:28] llaville commented on #550
I've also tried a workaround with PHP 8.0.9 on Ubuntu 18.04, with same command, but have another issue (see output)

<details>
	<summary>output</summary>
[code]
</details>

[2021-08-06 16:11] theofidry commented on #556
Let's keep this open, I would be happy to implement your suggestion as a fix :)

[2021-08-20 06:21] llaville commented on #550
@theofidry FYI, I cannot reproduced anymore the box compile issue (on PHP 7.4.22 and 8.0.9)
Probably because a vendor has changed but I'm not sure !

[2021-09-09 07:09] theofidry commented on #550
It should be possible to fix it by whitelisting the polyfills the idiomatic way as shown by https://github.com/humbug/php-scoper/issues/440#issuecomment-842638890

[2021-09-11 22:27] Jeckerson opened #562 "PHP8.1 support"
## Feature Request

Current fatal error that I get with latest version of box:
[code]

Make support for PHP8.1 possible.

[2021-09-13 12:33] Jeckerson commented on #562
According Symfony they already support PHP 8.1.

[2021-09-13 12:34] Jeckerson commented on #562
Also, this feature really blocks generation of `.phar` which then can be used inside Phalcon tests.

[2021-09-13 12:48] theofidry commented on #562
The problem is not Symfony on which the app is built but PHP-Scoper which is used to bundle the PHAR.

Thinking about this again, since Box does not use any PHP 8.0 or 8.1 features, maybe it won't require more than "just" updating the dependencies.

[2021-09-13 12:59] Jeckerson commented on #562
So you suggest to compile `.phar` with PHP7.4 and it might work with PHP >= 8.0 ?

[2021-09-13 13:13] theofidry commented on #562
No I meant to build box on PHP 8.1

[2021-09-13 16:07] Jeckerson commented on #562
@theofidry Do you need any help with this?

[2021-09-22 14:28] kbond opened #563 "symfony/string's UnicodeString.php corrupt"
## Bug report

| Question    | Answer
| ------------| ---------------
| Box version | 3.13.0@275b091
| PHP version | 7.4.18
| Platform with version | Ubuntu
| Github Repo | https://github.com/zenstruck/changelog

I'm getting an error when trying to run a phar that uses `symfony/string`. See details below. It's strange that it only occurs for one of my console commands. I believe the other console

[2021-09-23 06:55] mlocati opened #564 "Using install-php-extensions instead of docker-php-ext-install"
## Feature Request

Installing PHP extensions inside official PHP docker images is not an easy task.
Indeed you need to:
- know the required apt (Debian) or apk (Alpine) system libraries
- know the system libraries needed to compile the PHP extensions, but that can be deleted after the compilation to save disk space

I created a (widely used) script that does all the above for a ton of extensions:

[2021-09-27 22:12] danepowell opened #565 "Cannot exclude binary file from compaction with auto-discovery"
## Bug report

| Question    | Answer
| ------------| ---------------
| Box version | 3.13.0
| PHP version | 7.4
| Platform with version | Ubuntu
| Github Repo | -

I'd like to use auto-discovery to build my phar and use the PHP compactor, but there's a single PHP file that needs to added without any compaction. It seems like this isn't possible.

The file I'm trying to exclude from compaction is

[2021-09-27 22:20] danepowell opened #566 "annotations: false still strips some annotations"
## Bug report

| Question    | Answer
| ------------| ---------------
| Box version | 3.13.0
| PHP version | 7.4
| Platform with version | Ubuntu
| Github Repo | -

I'd like to prevent annotations from being stripped by the PHP compactor. Specifying `"annotations": false` works to a degree, but still strips parts of annotations.

Specifically:
[code]

Even with `"annotations": false` becomes compa

[2021-09-28 20:17] theofidry commented on #566
Hm there is something fishy there: if there is no annotation compacting then the phpdoc should be left alone, which doesn't appear to be the case here

[2021-09-28 20:19] theofidry commented on #565
Not that I'm aware, but it makes me wonder why this [the quote you put] is happening. It may be for historic reasons or maybe there is something else. Might be worth checking

[2021-09-28 20:25] theofidry commented on #563
This looks weird indeed; I see that you try a self-update command, if instead you pick the latest version and compile it is the resulting PHAR corrupted?

[2021-09-28 20:43] kbond commented on #563
I'm now thinking what's happening is after the self update occurs (new file downloaded and swapped), there is some residual code that runs (in the same process) that tries to look for `UnicodeString` but it doesn't exist. self-update in the dev environment updates to the latest stable release (which doesn't include `symfony/string`). This would explain why I only see the problem with that command.

[2021-09-28 21:00] kbond commented on #563
Yep, looks like that was it. I removed code after the update occurs that would use `symfony/string` and it all worked as expected.

Don't believe this is a box issue, so I'm closing. Thanks for the help!

[2021-09-28 21:00] #563 closed

[2021-09-29 15:32] danepowell commented on #566
Fishy indeed, that's why I posted the bug report 😄

Here's a minimum failing example where you can see the same bad behavior: https://github.com/danepowell/box-566

[2021-10-10 13:06] jrfnl opened #567 "PHP Compactor removes attributes when Phar is being generated on PHP < 8.0"
## Bug report

| Question    | Answer
| ------------| ---------------
| Box version | 3.13.0@275b091
| PHP version | PHP < 8.0 for Phar generation / PHP 8.1 for using generated Phars
| Platform with version | Any
| Github Repo | All users, including this repo itself just as well.

## Context

Attributes were introduced in PHP 8.0, but few projects (so far) were using them.

However, PHP 8.1 has ad

[2021-10-10 15:11] jrfnl commented on #478
This looks to have been fixed. Should this issue be closed ?

[2021-10-10 19:37] jrfnl commented on #567
I've opened PR #568 to address this issue.

[2021-10-11 01:47] jrfnl commented on #562
Related #567 / PR #568

[2021-10-11 02:09] jrfnl commented on #562
Also related PR #570

[2021-10-11 02:53] jrfnl opened #571 "PHP 8.1: SerializablePhpScoper needs implementation of magic methods"
## Bug report

| Question    | Answer
| ------------| ---------------
| Box version | `master`
| PHP version | 8.1
| Platform with version | any
| Github Repo | -

As of PHP 8.1, the PHP native [`Serializable` class is deprecated](https://wiki.php.net/rfc/phase_out_serializable).

Per the RFC:

The above has an impact on the `KevinGH\Box\PhpScoper\SerializablePhpScoper` class which implements `Ser

[2021-10-18 15:37] jrfnl commented on #571
@theofidry I have no opinion on how to handle this, I just noticed the issue when running tests with Box and PHP 8.1 and figured it would be a good idea to write up the issue so the problem outline would be known.

[2021-11-04 21:14] adamhopkinson opened #574 "Satisfactory PHP version comparison fails"
## Bug report

| Question    | Answer
| ------------| ---------------
| Box version | Can't work out how to get this, as I'm using a package which I think pulls in a box phar... somewhere - but I've just installed it fresh today
| PHP version | 8.0.12
| Platform with version | MacOS 12.0.1 (tried on Intel & M1)
| Github Repo | - [https://github.com/hotmeteor/eco-cli](hotmeteor/eco-cli)

I'm trying

[2021-11-17 08:21] llaville opened #575 "New workflow about Coding Standard"
## Feature Request

You should think to add a new workflow (GH Actions) to check about Coding Standard violations.

As contributor, I've read how to start, and see the `make cs` command.
With `master` branch and commit 78b88c4897973f897913c0501778fd08017039ec, with PHP 7.4, I've following results

[code]

[2021-11-17 17:19] llaville opened #576 "Scope of metadata producer by callback"
## Bug report

| Question    | Answer
| ------------| ---------------
| Box version | 3.13.0@275b091
| PHP version | 7.4.25
| Platform with version | Ubuntu 18.04 LTS
| Github Repo | - https://github.com/llaville/php-compatinfo-db

<details>
 <summary>box.json.dist</summary>

[code]
</details>

<details>
 <summary>Output</summary>

[code]
</details>

One year later when I introduced the new featur

[2021-11-22 17:33] bruno-buiret commented on #551
Hello again,
I tried some different tests today, in the same file `symfony/config/FileLocator.php`,

[code]
It was the correct version (8.0.13) and SAPI (cli), but the `ctype` extension which is activated in my CLI version of PHP 8.0.13 wasn't enabled, only a few of them were available: Core, date, libxml, openssl, pcre, zlib, filter, hash, json, pcntl, Reflection, SPL, session, standard and sodiu

[2021-12-16 18:34] jrfnl commented on #567
@theofidry Any idea when a new version of Box will be tagged including this fix ?

[2021-12-16 18:57] theofidry commented on #567
@jrfnl done: https://github.com/box-project/box/releases/tag/3.14.0

[2021-12-16 20:54] jrfnl commented on #567
Thanks @theofidry !

[2021-12-20 05:57] llaville commented on #562
@theofidry has right when he said that PHP 8.1 compatibility is broken by `humbug/php-scoper` (https://github.com/box-project/box/blob/3.14.0/composer.json#L51) that did not support a compatible `symfony/console` version (see https://github.com/symfony/console/commit/9a4fcecbcccf4b55f4c28e1c71e3cd83d7be99b8 and tags for minimum versions)

Confirmed if you run `composer why symfony/console` on box-

[2021-12-22 22:15] maks-rafalko opened #580 "Box does not work with Composer 2.2 (allowed-plugins)"
## Bug report

| Question    | Answer
| ------------| ---------------
| Box version | 3.14.0
| PHP version | 8.0
| Github Repo | https://github.com/infection/infection/pull/1623

Box fails compiling a prefixed PHAR with the brand new Composer 2.2 is used:

[code]

Note: Infection had issues with Composer 2.2 too, fixed by adding `allowed-plugins` configuration: https://github.com/infection/infecti

[2021-12-29 10:14] llaville commented on #576
In one of my project, I'd like to simplify the build metadata process

 "Build metadata for PHAR distribution without need of temporary cache file and trigger composer events" : it's now a success with https://github.com/llaville/php-compatinfo-db/commit/d20c8ef1066f29a428ca07c0889cd440e0008550

My box config file is :
[code]
And the `box-metadata.php` that is triggered only by `box compile` comma

[2021-12-29 10:27] llaville commented on #576
Results in screenshots :

Before patching box with PR 582, we have

![box-314](https://user-images.githubusercontent.com/364342/147652449-255d0868-c7e7-4bb1-9348-9726505ff9d1.png)

![box-314-metadata](https://user-images.githubusercontent.com/364342/147652478-fdaf886b-c8ba-4a61-af43-6a53a08c972e.png)

Because filename (`box-metadata.php`) is proceed as a simple string

After patching box with PR 5

[2022-01-04 01:25] andypost commented on #562
Filed another PR to fix requirement checker #585

Somehow latest [release 3.14.1](https://github.com/box-project/box/releases/tag/3.14.1) has no `box.phar` somehow

[2022-01-04 15:02] jakzal opened #586 "PHAR is missing for the 3.14.1 release"
## Bug report

| Question    | Answer
| ------------| ---------------
| Box version | 3.14.1
| PHP version | any
| Platform with version | any
| Github Repo | -

<img width="939" alt="image" src="https://user-images.githubusercontent.com/190447/148078665-719dcec8-3ec6-4887-b388-03b325e2d999.png">

It's there in 3.14.0:

<img width="940" alt="image" src="https://user-images.githubusercontent.com/19

[2022-01-08 17:18] SmetDenis commented on #586
Hey folks,

Do you have any news so far?

[2022-01-17 09:14] owenvoke commented on #571
@theofidry, related to https://github.com/box-project/box/issues/571#issuecomment-945869031, if we were to update to the Laravel Serializable Closure package (as done in [`owenvoke:feature/serializable-closure`](https://github.com/box-project/box/compare/master...owenvoke:feature/serializable-closure), it requires PHP 7.4 to unserialise closures. Would this be ok to bump to a minimum of PHP 7.4 in

[2022-01-17 15:30] theofidry commented on #571
No I was planning to remove 7.3 from the supported versions so that’s fine
by me 👍

On Mon 17 Jan 2022 at 10:14, Owen Voke ***@***.***> wrote:

[2022-01-20 16:14] omair-inam opened #588 "Generating a PHAR file with the git tag as part of the file name"
I’m trying to generate a PHAR file that includes the latest git tag in the output file name…

I’ve tried using a replacement placeholder in my box.json.. but this does not work… Sample file included below:
[code]
What should I change to get the latest git tag to be part of the filename of the generated PHAR file?

[2022-01-20 16:14] omair-inam commented on #588
I would have posted to the Slack channel, except that the Box Slack channel links me to the symfony slack channel:
![image](https://user-images.githubusercontent.com/3627923/150377745-74d3770c-61d0-49ab-b8ef-3a9828ad8ba5.png)

[2022-01-29 12:03] ondrejmirtes commented on #580
I've reproduced this problem in a minimal repo: https://github.com/ondrejmirtes/composer-issue/actions/runs/1765720462

I can offer some funds towards fixing this problem, so don't hesitate to reach out. Thanks.

[2022-02-01 00:17] theofidry commented on #586
Working on a new release which I'll make sure have the PHAR

[2022-02-01 08:42] #550 closed

[2022-02-02 09:44] #556 closed

[2022-02-02 09:59] theofidry commented on #576
Hi! Sorry for the detail and thanks for the PR.

I admit I'm not really familiar with PHAR metadatas... the usage seems a bit obscure to me and it's also not completely clear how much is really supported from it (and much less with the scoping process). So I think before pushing for anything else, it might be worth exploring what are the implications as right now there is very little testing about

[2022-02-02 15:58] llaville commented on #576
@theofidry Thanks for reply. Scope to use the `metadata` box feature need at least a documentation update / explains.

Currently when users read https://github.com/box-project/box/blob/master/doc/configuration.md#metadata-metadata, and follow the steps they have no expected results.

- first (I've made an error in static function callable call)  Compare `"metadata": "MyCallbacks\\generateMetadata"

[2022-02-02 16:00] llaville commented on #576
Oh, and yes there are no hurry, because I've already in mind another approach to handle manifest (with phar metadata), and have two other projects to finish first !

[2022-02-02 20:32] grasmash commented on #586
Ok thanks!

[2022-02-02 20:53] theofidry commented on #576
I agree the documentation can definitely be improved. Part of the reason honestly is just the lack of usage of it in the wild. I find quite hard to image how practical it is to have to do something like:

[code]

just to get that information (and what information it would be?). In practice with box it's a bit easier to consume via the `info` command, but I still honestly coudl'nt find a project wh

[2022-02-02 20:58] llaville commented on #576
I should be able to provide you a use case in the beginning of next week.

[2022-02-04 12:48] theofidry commented on #571
Closed via #587

[2022-02-04 12:48] #571 closed

[2022-02-04 12:56] theofidry commented on #580
Should be fixed with 3.15!

[2022-02-04 13:01] theofidry commented on #562
Should be now working with 3.15

[2022-02-04 13:01] #562 closed

[2022-02-04 13:01] theofidry commented on #555
Should be now working with 3.15

[2022-02-04 13:01] #555 closed

[2022-02-04 21:01] jakzal commented on #586
3.15.0 has the jar attached 🥳  https://github.com/box-project/box/releases/tag/3.15.0

[2022-02-04 21:01] #586 closed

[2022-02-04 22:42] jakzal commented on #586
Thank you @theofidry 🍺

Your hard work has unblocked me big time: https://github.com/jakzal/phpqa/releases/tag/v1.66.0

[2022-02-06 08:13] icanhazstring opened #602 "PhpScoper compactor seems to run into memory leak"
## Bug report

| Question    | Answer
| ------------| ---------------
| Box version |  3.15.0@8923e3c
| PHP version | 7.4 or 8.0.14
| Platform with version | Docker Alpine and MacOS
| Github Repo | - [composer-unused/composer-unused](https://github.com/composer-unused/composer-unused/tree/fix/composer-plugin)

Running latest version if compactor for PHPScoper seems to run into a memory leak.
I kep

[2022-02-07 15:05] theofidry commented on #602
3G is quite a lot. Out of curiosity could you try with `--no-parallel`? If it succeeds at least it means the PHP is more likely to be on AMPHP or on Box handling of the parallelism

[2022-02-10 22:43] alexander-schranz opened #603 "Box 3.15.0 Opis\Closure\SerializableClosure class not found with PhpScoper PHP 8.1"
## Bug report

| Question    | Answer
| ------------| ---------------
| Box version | 3.15.0
| PHP version | 8.1.2
| Platform with version | MacOS
| Github Repo | -

If I'm updating from `3.14` to `3.15.0`.

And run `box compile`

I get the error that the class:

[code]

was not found.

<details>
 <summary>box.json.dist</summary>

[code]
</details>

<details>
 <summary>Output</summary>

[code]
</d

[2022-02-11 12:30] llaville commented on #576
@theofidry After a try on an alternative solution, I'm finally back to this project, especially since I found a solution to produce a Composer Manifest build on Box compilation for each user project (with the `metadata` config parameter).

Will propose you a solution (PR) in the next 2 days

[2022-02-12 07:39] llaville commented on #576
@theofidry FYI:
As this issue related to scope of callback may be fixed only to clarify the documentation, I'll create a PR in that way !

After, I'll open a new feature report follows by a PR to introduce the way to add a manifest into the metadata field of a PHAR when invoking the `box compile` command.

[2022-02-12 08:36] llaville commented on #548
I think this report should be closed, because it was fixed in release 3.15 by PR https://github.com/box-project/box/pull/592

[2022-02-12 09:32] #548 closed

[2022-02-12 10:16] #576 closed

[2022-02-12 10:58] theofidry commented on #603
See https://github.com/humbug/php-scoper/issues/642

Should be fixed shortly

[2022-02-12 15:47] llaville opened #605 "Add a manifest from Composer data at compile time"
## Feature Request

**Goal**
Add a manifest in any format (XML, TXT or other) in the metadata field of a PHAR when invoking the `box compile` command, and later to be able to read it easily with CLI command like

[code]

Or with application by invoking the `application.phar --manifest`, and only to have to think to get the manifest from metadata field without to know where it was included in archi

[2022-02-12 15:49] llaville commented on #605
All feedbacks are welcome !

[2022-02-14 08:10] llaville commented on #605
Another usage example with a custom manifest builder class (see https://github.com/llaville/php-compatinfo-db/commit/65f65ff2858a79680ba0c2721413e0851647bf75) that make such following results:

[code]

[2022-02-14 10:16] theofidry commented on #605
So if I understand correctly the idea would be to build a "manifest" which is basically a simplified version of a composer.lock?

To me it kind of begs the question of how manifest are being used in Phive: is it something built on Phive side or expected to be provided within the PHAR? Because apart from PHPUnit I could not see any which contain a `manifest.txt` file.

/cc @theseer

[2022-02-14 10:23] theofidry commented on #603
Should be fixed with https://github.com/box-project/box/releases/tag/3.16.0

[2022-02-14 10:23] #603 closed

[2022-02-14 10:27] theofidry commented on #575
I'm happy to have a new workflow to check the CS but what kinda putted me off from doing so was the fact that there is no easy way to pass additional flags to PHP-CS-Fixer for example. Because locally with the Makefile I want a fix, not a lint. And I don't really want to add too much CI custom things and rely as much as possible on the Makefile

[2022-02-14 10:52] alexander-schranz commented on #603
@theofidry thank you!

[2022-02-14 11:01] llaville commented on #575
I've an idea to fix such situation, but it can take time ... I'll work on it later

[2022-02-14 11:07] llaville commented on #605
For me, it's the project leader that build a PHAR distribution who is responsible to write an XML manifest and include it in the root of code.

Here is a concrete example with [box.json.dist](https://github.com/bmitch/churn-php/blob/master/box.json.dist#L9) of the `bmitch/churn-php` application.

[2022-02-14 11:12] llaville commented on #605
`bmitch/churn-php` suffer from the situation that the `manifest.xml` file is built manually and [included](https://github.com/bmitch/churn-php/blob/master/Makefile#L26) as I said above.

See recent releases :
- https://github.com/bmitch/churn-php/releases/tag/1.6.1
- https://github.com/bmitch/churn-php/releases/tag/1.6.0

[2022-02-14 11:31] theseer commented on #605
Correct. And it can/will contain additional things that composer for valid reasons doesn't care about. For instance it can contain type specific details, e.g. in case of an extension the version range of the project it is am extension for.

PHPUnit uses the a manifest currently for extensions (e.g. https://github.com/sebastianbergmann/phpunit-example-extension/blob/master/manifest.xml.in).

With P

[2022-02-14 12:02] theofidry commented on #605
In regards to #606, this makes me worried Box will always need to play catch-up with how to create the manifest and concerns of whether the created manifest can be understood by Phive/PHPUnit.

Given that this would likely depend on `phar-io/manifest` in any case would it be reasonable to expect the latter to provide a builder for the manifest?

In that regard it kinda makes it redundant with the

[2022-02-14 13:26] llaville commented on #605
If you're afraid about PHIVE compatibility, we can add few lines of code to add the `manifest.xml` file [expected by phive](https://github.com/phar-io/phive/blob/0.15.0/src/shared/phar/Phar.php#L69-L75)

[code]

You can try by yourself to see what happens

Add into `box.json.dist` file of box-project itself the metadata setting like:
[code]

Then compile and verify contents

[code]

chunk of conte

[2022-02-14 13:47] theofidry commented on #605
Or maybe I had a too quick look ;) I'm a bit scattered as of late

[2022-02-14 15:13] theseer commented on #605
While there is of course a chance that the manifest xml respentation has to evolve over time, we didn't need to modify the format since its invention. We will, however, have to add the new type `stub` as the current implementation only has `library`, `application` and `extension`. That will be a BC compliant change though as this is merely a new type without any other changes for other types or th

[2022-02-14 15:46] llaville commented on #605
As it seems too much (complicated) for audience, I propose to let down this feature, and only to pass contextual parameters that will allow to everyone to do what they want.

@theofidry Are you agree for a PR with just this change

[code]

[2022-02-15 09:34] llaville commented on #605
Closes this feature, because I'm working on a standalone project !

[2022-02-15 09:34] #605 closed

[2022-02-16 10:25] llaville opened #612 "Question or Bug about `box info --metadata` command"
Option `metatada` of the `box info` command seems useless, because when a PHP Archive has some meta-data, there are displayed without the need to specify option `--metadata`

**Context**
Official version
[code]

[2022-02-17 08:50] theofidry commented on #612
Yes it looks like the option is not used at all.

I would expect it to just dump the metadata bare (i.e. without any of the formatting that may be present in the regular box info) but maybe it can simply be removed for now.

[2022-02-17 14:37] theofidry commented on #605
@llaville is that definitive? Because it feels like a nice to have to automatically add a manifest file to Box itself

[2022-02-18 10:29] llaville commented on #605
Thanks

I've a question about namespace :
As I've my own implementation that is compatible with `phar-io/manifest` 2.0.x, I've specified a new version (1.1) that may cause an issue with your manifest.xsd
```<phar xmlns="https://phar.io/xml/manifest/1.1">```

The reason of this new version 1.1 is : I've added an optional `constraint` attribute on `bundles/component` tag.

That is usefull to disting

[2022-02-18 11:30] llaville commented on #605
@theseer  Other issue with current version of your `manifest.xsd` https://github.com/phar-io/manifest/blob/9c31f71fa0c993ab2e86ad31f5ef66066e3d368f/manifest.xsd#L41 :
Composer license may be multiple https://github.com/composer/composer/blob/2.2/res/composer-schema.json#L16

[2022-02-18 11:34] llaville commented on #605
@theseer Other issue with https://github.com/phar-io/manifest/blob/9c31f71fa0c993ab2e86ad31f5ef66066e3d368f/manifest.xsd#L62 and Composer compatibility (license url is optional)

[2022-02-18 15:35] theseer commented on #605
To be quite frank: That's broken and a bad idea for various reasons:
- You're hijacking our namespace with an incompatible extension that will break as soon as we might release an updated manifest
- I don't see any benefit of having a constraint information within the phar. All we care about - from the manifest's point of view - is what *is* bundled in the archive, not what would have potentially

[2022-02-18 16:03] llaville commented on #605
Finally I've solved the namespace and other compatibility issues (notified).

I've wrote a new specialized builder (`PharIoManifestBuilder`) based on current [SimpleXmlManifestBuilder](https://github.com/llaville/box-manifest/blob/master/src/Composer/Manifest/SimpleXmlManifestBuilder.php) that honor your current `manifest.xsd` (and if it evolved, I may apply change easily without to break the `Sim

[2022-02-18 16:23] llaville commented on #605
New code is online with commit https://github.com/llaville/box-manifest/commit/66e35d4742dbd1c0bf97dd8fab3c573a85319990

FYI: a new entry to the factory to produce a compatible `phar-io/manifest` xml that honor the xsd.
[code]
And of course keep previous XML implementation with `Bartlett\\BoxManifest\\Composer\\ManifestFactory::toXml`

[2022-02-18 19:23] theseer commented on #605
@llaville Can you please __not__ hijack our namespace with a proprietary format? I do not have any issues with your application creating not using our code to create an xml manifest or you defining your own xml format. You are, of course, free to create a custom implementation that generates "our" xml format. __But do not use our namespace and domain for a proprietary format__.

_As a side note_:

[2022-02-19 18:30] llaville commented on #605
@theseer I'll drop support of `phar-io/manifest` format, even with my implementation. All reasons [were given](https://github.com/llaville/box-manifest/discussions/1) in my project discussion forum.

@theofidry Finally, after many attempt to try to contribute for a cool feature, I'll continue to work on my side with my standalone version with TEXT format only !

[2022-02-21 00:57] bilogic opened #620 "Class/namespace not found for package required via composer"
I'm using Laravel-zero which relies on this project to build PHARs, https://laravel-zero.com/docs/build-a-standalone-application.

After it compiles a PHAR using `box-project/box`, it reports not being able to find one of the classes I required via composer. I went through `box-project/box`'s docs, but can't seem to find how I can include packages found inside `vendor/`.

Any idea? Thank you.

[2022-02-21 11:24] icanhazstring commented on #602
Thanks, will try.

[2022-02-21 22:00] theofidry commented on #620
Hi, yes there is several things:

- you can inspect the PHAR itself to see if it's as you expect it to be
- you can also extract the PHAR into a directory `$ box extract --help` to inspect it
- you can check the config doc: https://github.com/box-project/box/blob/master/doc/configuration.md#including-files

Without more info that's all I can offer you unfortunately.

[2022-02-21 23:05] theofidry opened #625 "Various QoL improvements"
- [x] Fix various TODOs
- [x] Fully migrate to the new PHP-Scoper config
- [x] Get rid of or extract the FS layer
- [x] Get rid of as many patchers as possible
- [x] Bump min deps constraints
- [x] Remove support for legacy patchers
- [x] PHPUnit provider name & typehint (generator -> iterable)
- [x] CS migration
- [x] Migrate to FidryConsole completely
- [x] Migrate to the `Safe\*` API
- [x] Whit

[2022-02-23 17:28] llaville opened #630 "Docker support with PHP 8"
As latest version 3.16.0, Box is supposed to support both PHP 7.x and 8.x

But when you look inside [DockerFileGenerator](https://github.com/box-project/box/blob/3.16.0/src/DockerFileGenerator.php#L43-L49) no images are defined for PHP 8.0 and 8.1

Is it just forgotten ? `8.0-cli-alpine` and `8.1-cli-alpine` images are available on DockerHub

[2022-02-24 23:50] theofidry commented on #630
I think so yes 😅

[2022-02-26 08:02] bilogic commented on #620
My package is symlinked in `vendor/` by `composer` as it is specified in `repositories` of `composer.json`. Is this something that box can handle?

[2022-02-26 08:15] bilogic commented on #620
Ok, I found the issue, symlinked packages are not included in the PHAR.
Is this by design? If not, can it be fixed? If yes, can `box` be upgraded to handle them?

Once I forced `composer` to copy instead of symlink, the compile PHAR now includes my package.
[code]

[2022-02-26 09:30] theofidry commented on #620
AFAICR it's not supported only because no one had the need for it and/or the will to add support for it.

I can't remember if it was supported when I took over the project, but I remember explicitly removing support for it (it wasn't clear if it was working or not before) as it allowed to cut down on the number of things to test.

[2022-02-26 13:34] #630 closed

[2022-02-28 11:23] llaville opened #647 "Reusable `requirement-checker` -- explains two distinct directories"
Could you explains the difference between `.requirement-checker` and `requirement-checker` directories we can found in `master` branch and even on latest release `3.16` ?

- Usage ?
- Behaviour ?
- Feature ?

[2022-02-28 11:27] llaville commented on #647
I've found an issue when I reused `box` with `.requirement-checker` folder identified by https://github.com/box-project/box/blob/3.16.0/src/RequirementChecker/RequirementsDumper.php#L35 inside a PHAR.

[2022-02-28 13:19] stevebauman opened #648 "Uncaught Exception: stream_select(): supplied resource is not a valid stream resource in {path}\vendor\amphp\amp\lib\Loop\NativeDriver.php:79"
## Bug report

| Question    | Answer
| ------------| ---------------
| Box version | 3.16.0
| PHP version | 7.4 to 8.1
| Platform with version | Windows
| Github Repo | https://github.com/spatie/global-ray

When running `box compile` without the `--no-parallel` option on Windows, I receive the below exception:

<details>
 <summary>Configuration</summary>

[code]
</details>

<details>
 <summary>Sc

[2022-02-28 15:08] llaville commented on #647
After encountered an issue with `check-requirements` setting of BOX on my project `bartlett/box-manifest` v1.0.1,  I've finally found origin of issue and will release a new bugfix 1.0.2 in few minutes.

At least, with official BOX project we have 2 autoloaders that we have to register, in case of reusable BOX source code inside a PHAR container.
And even one more if we consider that we should be a

[2022-02-28 19:13] llaville opened #649 "`directories` to add to phar are not all included"
## Bug report

| Question    | Answer
| ------------| ---------------
| Box version | 3.16.0@adb282a
| PHP version | 7.4.28
| Platform with version | Ubuntu 18.04 LTS / Windows WSL2 / Docker
| Github Repo | - https://github.com/box-project/box

I've noticed that all files of `vendor` directory is not included into the PHAR compiled version (especially directories begining with dot, like `.requirem

[2022-02-28 19:14] llaville commented on #647
FYI: Bad news. The issue I've found is not related to autoloader but to https://github.com/box-project/box/issues/649

[2022-02-28 19:16] llaville commented on #647
Workaround exists. In my context, I must force to add the directory beginning with dot (`.requirement-checker`)

[code]

[2022-03-01 13:27] narayanghimire opened #650 "Unable to generate phar file using box 3.16.0 & composer version 2.2.0"
## Bug report

| Question    | Answer
| ------------| ---------------
| Box version | 3.16.0@adb282a
| PHP version | 7.4
| Composer version | 2.2.0
| Platform with version MacOS  | MacOs Monterey

##### When trying to build with the latest 3.16.0 .phar Release, I get the error

    php ./tools/box compile

I am getting this error especially if I  am using the composer 2.2.0 on my machine. Now If I

[2022-03-01 20:57] theofidry commented on #650
Could you please try with the `--debug` option and publish the new stack trace as well as the generated `.box_dump/.box_configuration` file?

[2022-03-01 21:05] theofidry commented on #647
`requirement-checker` is the source code of the requirement checker component. The strategy adopted to deliver the [requirement checker feature](https://github.com/box-project/box/blob/master/doc/requirement-checker.md#requirements-checker) to the built PHARs, Box needs to bundle this requirement-checker code into the built PHAR, this means two things:

- Box itself needs to know the requirement-c

[2022-03-01 21:09] theofidry commented on #649
Indeed, it ignores dot files by default (and has been in Box2 already): https://github.com/box-project/box/blob/master/src/Configuration/Configuration.php#L1483

I'm not sure it's wise to change this, but I think it deserves some documentation if it is missing.

[2022-03-01 21:17] theofidry commented on #648
Thanks for the report!

Box usage of AMPHP is very limited as you can see here: https://github.com/box-project/box/blob/master/src/Box.php#L435

So I would tend to say if there is an issue, it is more likely to be either be straight up a problem with AMPHP code or due to the fact (and arguably it is a lot more edge case from AMPHP perspective) that it is executed from within a PHAR.

@kelunik do y

[2022-03-02 08:57] narayanghimire commented on #650
@theofidry Thanks for your quick reply.

 Please check my above description of output, it is now changed with the new stack trace.

This is my box configuration file that was generated:[box_configuration.txt](https://github.com/box-project/box/files/8168100/box_configuration.txt)

[2022-03-07 11:58] maks-rafalko commented on #580
@theofidry

I still reproduce it in Infection repository with 3.16.0 both with `make compile` (PHP 8.1, Composer 2.2) and with `make compile-docker` (PHP 7.4)

[code]

[2022-03-10 07:01] icanhazstring commented on #602
@theofidry can confirm. Using `--no-parallel` the compactor works.

[2022-03-12 00:44] Eboubaker opened #653 ""check-requirements" option fails on Zend OPcache extension"
I have an app which requires `"ext-zend-opcache"` in composer.json, when I do `box compile` and try to run the app with `php app.phar` box's  "check-requirements" option will try to check if all extensions are fulfilled and it will fail on zend-opcache even though it is enabled and `opcache.enabled` is 1 in php.ini.

The problem is that `extension_loaded()` function for some reason does not work w

[2022-03-13 20:09] ramsey opened #654 "Interfaces are not copied into the Phar"
## Bug report

| Question    | Answer
| ------------| ---------------
| Box version | 3.16.0
| PHP version | 8.0.16
| Platform with version | macOS 12.2.1
| Github Repo | n/a

I'm encountering an issue where it appears some of the interfaces from the `vendor/` directory are not being copied into the generated Phar file.

<details>
 <summary>box.json.dist</summary>

My `box.json.dist` is empty, for

[2022-03-13 20:13] theofidry commented on #654
Weird indeed, could you also print out the resolved configuration? (it should be in `.box_dump`

[2022-03-13 20:21] ramsey commented on #654
Apparently, GitHub has a limit to the size of comments: 65,536 characters. 😄

Here's the `.box_configuration`: https://gist.github.com/ramsey/711387b710852213a54bf6446f9ebf0f

[2022-03-18 17:23] theofidry commented on #447
/cc @ondrejmirtes

[2022-03-19 15:32] ramsey commented on #654
I'm curious whether you (or others) have been able to reproduce this.

[2022-03-22 12:16] ondrejmirtes commented on #447
I've managed to get to a 100% reproducible build 🎉  This is the recipe:

* PHP-Scoper needs to have a stable prefix instead of a generated one (https://github.com/humbug/php-scoper/blob/master/docs/configuration.md#prefix).
* Before doing `composer install` of the project there needs to be environment variable `COMPOSER_ROOT_VERSION` set to a stable string, otherwise the ever-changing Git commit w

[2022-03-27 09:05] imper86 opened #655 "Working Symfony 6 example?"
Hello,

I just started having fun with Box and tried to compile simple (empty) symfony 6 application. After successfully compiling I have an error:
[code]

I'm stuck, don't know what I should do with this. Do you have any working Symfony 6 example repository? Should I maybe modify bin/console somehow?

[2022-03-31 18:03] ramsey commented on #654
I tried debugging this a bit, but I’m unable to figure out what’s different about these files that makes them consistently excluded from the Phar.

[2022-04-05 12:19] jrfnl opened #656 "Documentation: add warning about Composer 2.3"
👋🏻 Hiya,

I'm not sure where to add this, but I believe it would be prudent to add a warning somewhere in the documentation about Composer 2.3.

### Context

Composer 2.3 drops support for PHP 7.2 and the autoload files generated with Composer 2.3 are no longer compatible with PHP < 7.0.

### The problem

A lot of projects which create PHAR files will include the composer `autoload` files in the P

[2022-04-18 08:35] allejo opened #657 "Symfony function polyfills get put into the wrong namespace"
## Bug report

| Question    | Answer
| ------------| ---------------
| Box version | 3.16.0
| PHP version | 7.4.21
| Platform with version | macOS
| Github Repo | [allejo/rrlog @ `feature/box-cleanup`](https://github.com/allejo/rrlog/tree/feature/box-cleanup)

When my `box.json.dist` uses the `"KevinGH\\Box\\Compactor\\PhpScoper"` compactor, any function that Symfony polyfills in the global names

[2022-05-05 09:04] Braxilior commented on #655
Hello,

I had the same error and I found this issue: https://github.com/symfony/symfony/issues/41771

I did the following modifications and it worked for me.

`bin/console`:
[code]

`config/autoload_runtime.php`
[code]

[2022-05-16 00:45] wesmontgomery commented on #331
@theofidry are you and @mpociot collaborating on this? 👀

https://twitter.com/marcelpociot/status/1498244220620099588

[2022-06-18 07:43] theofidry commented on #656
Hi @jrfnl!

Sorry for the very late reply, I could not check any GitHub related notification for a while.

Since it's Composer itself introducing this limitation, I am wondering if it's worth going against it, especially since the next release of Box will require 8.1. I'm also a bit torn regarding the requirement checker tool if it should really stay to 5.3 or can simply be bumped as well.

I howe

[2022-06-20 22:01] #656 closed

[2022-06-21 05:25] jrfnl commented on #656
@theofidry Sorry to hear you'll be dropping support for older PHP versions, but I respect your decision. I'll keep an eye on the releases to make sure projects I'm involved with, which still support PHP < 7.2, will remain on an older version of Box.

[2022-06-22 08:57] arnegroskurth opened #678 "Requirements Checker outputs on stdout instead of stderr"
## Bug report

| Question    | Answer
| ------------| ---------------
| Box version | 3.16.0
| PHP version | 8.1.7
| Platform with version | Linux

This could also be considered a CR/FR but as it causes unexpected behaviour for software packaged with box, I rather think of it as a bug. The program arises when the program being packaged with box writes structured output (e.g. json) to stdout and it

[2022-06-23 14:21] theofidry commented on #656
I'm not too happy about it either to be honest.

The main reason is just the amount of work. At the moment the way the requirement checker is built is relying on Composer (and there is the scoping process afterwards as well). But if the dumped scoped requirement checker `.requirement-checker` does not depend on the Composer autoloader, it would be trivial (from that point) to add back support for

[2022-06-23 22:00] theofidry commented on #331
I would love to see some work done here, but no I did not get more details regarding the experiment neither can I see an attempt to try to add it to laravel zero. I don't know if the experiment was just not conclusive or if @mpociot switched to something else.

[2022-06-23 23:26] theofidry commented on #447
Revisiting this issue.

From this I think there is two actionables:

- Adding a doc entry about reproducible builds
- The last point should be added within Box

I am also wondering if this is it. Are you using your own stub as well or something? Because I would guess otherwise the standard stub would be a problem (due to the random alias)

[2022-06-23 23:28] theofidry commented on #450
@jaapio did you manage to make it work?

[2022-06-23 23:29] theofidry commented on #456
Closing for now as unfortunately I do not have the bandwidth to attempt to fix it on Windows. I'll happily accept a PR to fix it however.

[2022-06-23 23:29] #456 closed

[2022-06-23 23:41] theofidry commented on #506
Since I don't have much control on what is happening there (this is AMPHP parallelism) and there is a working alternative, I'll be closing this.

[2022-06-23 23:41] #506 closed

[2022-06-23 23:49] theofidry commented on #532
I do think it's a good idea however:

- It would require more than "not building the PHAR" but as well providing a comprehensive list of the files (and whether they will be scoped or not). Also would require to mention if something would change due to the autoloader being dumped or something
- Would require to disable quite a few checks (no restart/parallel, memory bump, file descriptor limit bump

[2022-06-23 23:49] #532 closed

[2022-06-24 00:09] theofidry commented on #459
@KEINOS sorry for the late reply. I'll happily accept a new Windows build (although will not set it as required) if one wants to provide one :)

[2022-06-24 00:09] #459 closed

[2022-06-24 06:58] ondrejmirtes commented on #447
I had to look up what "stub file" is in context of a PHAR file :) There's no specific stub setting in my Box configuration (https://github.com/phpstan/phpstan-src/blob/d194a471f9a88d4da0ae756c6664b008cf48b03c/compiler/build/box.json) and if I inspect the PHAR file to see how the stub looks like, there's nothing random in it:

[code]

[2022-06-24 09:54] theofidry commented on #447
aha yes, but you have `alias` set which is what it does. That's fine I just need to not miss it in the docs

[2022-06-24 12:47] jaapio commented on #450
It's a long time ago, but  I think this is still an issue. I never tried it since I created this issue.

But it's ok for me to close this issue for now. I will create a new issue when I have time to provide proper feedback.

[2022-06-24 16:52] theofidry commented on #653
Ok this was annoying! The issue is that the extension name is incorrect, you can find them with `php -m` (the case does not matter). So in your case the extension name is `zend opcache` so the constraint in your `composer.json` should be `ext-zend opcache`

[2022-06-24 17:42] theofidry commented on #647
Since the question has been answered I'll be closing this :)

If you need more information I'll happily re-open it or reply in a new issue.

[2022-06-24 17:42] #647 closed

[2022-06-24 17:44] #457 closed

[2022-06-24 17:49] theofidry commented on #648
I'll be closing this as there is no more actionable here unfortunately :(

[2022-06-24 17:49] #648 closed

[2022-06-24 17:58] #620 closed

[2022-06-24 18:00] theofidry commented on #531
Closed by #533 :)

[2022-06-24 18:00] #531 closed

[2022-06-24 18:01] theofidry commented on #487
Will do for the next released, I uploaded my GPG key for Box.

[2022-06-24 18:01] #487 closed

[2022-06-24 18:36] #519 closed

[2022-06-24 18:37] theofidry commented on #519
Apologies for the late reply. Hopefully you found your answer meanwhile. I added a doc entry for it still: https://github.com/box-project/box/blob/master/doc/faq.md#detecting-that-you-are-inside-a-phar

[2022-06-24 19:48] kelunik commented on #648
@theofidry Seems like I missed this. Yes, it's supposed to work fine on Windows. Stream watchers must be disabled before resources are closed, which is likely not the case here.

[2022-06-24 21:50] theofidry commented on #648
Sorry what are those? ^^ As you can see I'm merely using `parallelMap()` so I don't know if there is much I can do?

[2022-06-26 14:27] theofidry commented on #460
Revisiting the issue: Since Composer relies on git and that some potential code do as well, at least when the autoloader is dumped as well, the planned fix is to include `.git` when building the PHAR but to not include it in the PHAR.

[2022-06-30 18:41] jakzal opened #691 "Wrong signature for the 4.0.2 release"
## Bug report

| Question    | Answer
| ------------| ---------------
| Box version | 4.0.2
| PHP version | any
| Platform with version | MacOS, Linux
| Github Repo | -

4.0.1 works fine:

[code]

while the signature for 4.0.2 cannot be verified:

[code]

[2022-07-01 19:47] theofidry commented on #691
Should be fixed now :)

[2022-07-01 19:47] #691 closed

[2022-07-01 19:54] theofidry opened #692 "Add a doc entry about why you should sign your PHARs with the PHAR built-in signing feature"

[2022-07-27 08:38] BigBadBassMan opened #693 "provide official docker images for box"
## Feature Request

Since more and more projects adopt docker (for CI/CD or simply for build purposes), an official box docker-image (or collection of images for different supported PHP versions), available from hub.docker.com, would be beneficial.

These could be built and pushed by Github actions on each release.

[2022-07-31 14:36] Eboubaker commented on #653
@theofidry but composer does not allow the name `ext-zend opcache`
[code]

[2022-08-03 20:01] theofidry commented on #693
I'm happy to merge it if there is an easy way to update the image on the docker hub on release 👍

[2022-08-03 20:05] theofidry commented on #653
ha you are right, Composer handles this one in a hardcoded way:

[code]

[2022-08-15 08:22] BigBadBassMan commented on #693
I'm trying to figure this out, the idea was that a release package triggers a docker action which builds and publishes the image.

May take awhile since I have not used Github Actions before.

[2022-09-04 13:18] Zegnat opened #697 "Composer installation does not work when following docs"
## Bug report

| Question    | Answer
| ------------| ---------------
| Box version | 4.0.2 (`composer bin all show \| grep humbug/box`)
| PHP version | 8.1.10
| Composer version | 2.4.1
| Platform with version | macOS 12.5.1

Running `vendor/bin/box` will throw an Exception and the application cannot be used after following [the Installation documentation for Composer](https://box-project.github.

[2022-09-04 13:25] Zegnat commented on #697
Just realised there is already a PR for: https://github.com/box-project/box/pull/695. But I could not find an issue?

Feel free to close this in favour of the PR, or keep it around until the PR gets merged so others have an easier time finding it.

[2022-09-08 16:01] cristian-g4m opened #698 "Could not dump the autoloader."
## Bug report

| Question    | Answer
| ------------| ---------------
| Box version | 3.16.0
| PHP version | 8.1.10
| Platform with version | MacOS
| Github Repo | -

When running `php box compile`

I tried to download box from different ways, using latest release, using composer.

<details>
 <summary>box.json.dist</summary>

[code]
</details>

<details>
 <summary>Output</summary>

[code]
</detail

[2022-09-13 10:51] llaville opened #699 "Dupplicated entry in documentation since v4.0.0"
## Bug report

Chapter **Optimize your PHAR** is dupplicated on final documentation !

Origin may be found at https://github.com/box-project/box/commit/ab7c90e55b66485cec8d43d22c61ad5d40ede845#diff-57381c8acc17df6530456c578e76d03d4a1cb287f7edd980502b4a9cedb9524d

[2022-09-25 09:16] #678 closed

[2022-09-25 09:22] #699 closed

[2022-09-25 09:23] theofidry commented on #697
Thanks for the report! Will be fixed in the next release

[2022-09-25 09:23] #697 closed

[2022-09-25 09:25] theofidry commented on #698
There is #697 that could be the reason. Otherwise you would need to give it a try with `-vvv` or `--debug`

[2022-09-25 15:59] theofidry commented on #693
Can't it depend on the `Build.publish-phar` job to alleviate that issue?

Maybe this could be solved by using a different image name? E.g. box3 & box4.

[2022-10-03 10:55] SamMousa commented on #564
According to the readme:

I'm willing to implement this; it seems trivial enough. I use the script that @mlocati created in a lot of projects and I think it's the defacto standard for installing php extensions.

Note that even an existing docker file can be altered with just 1 line of code:
[code]

[2022-10-03 11:02] SamMousa opened #706 "Generated docker file is broken"
## Bug report

| Question    | Answer
| ------------| ---------------
| Box version | 4.1.0
| PHP version | 8.1.10
| Platform with version | Ubuntu 22.04.1

Specifically the generated PHP code looks like this:
[code]
Note here that the last line is not in an else clause. This means that the last extension to be installed will have `echo` appended to it. (And this will also attempt to install 2 ext

[2022-10-09 20:09] ckilb opened #708 "Is it possible to create a non-CLI PHAR?"
Hello,

I'm wondering if the purpose of Box is only to create PHARs used by CLI - because that's not explicitly mentioned anywhere?
If I create a PHAR using _box compile_ and I try to include it into my existing web project I get this error message:

`The application may only be invoked from a command line, got "fpm-fcgi"`

I checked the FAQ which says:
`So the following [...] is purely ot make su

[2022-10-10 16:32] theofidry commented on #708
Indeed Box is exclusively for CLI-PHARs.

Historically, it was possible in Box2 (before I took over). I however quickly found several issues with the app documentation & tests, and since the usage for webapps was already at that time very limited, I initially dropped it and thought this can always be added at a later time.

Today though, whilst technically possible, I would need some serious convi

[2022-10-11 12:00] ckilb commented on #708
Hey @theofidry
thanks for your  detailed answer.
While you did _not_ convince me to use a PHAR for my personal web project I can understand that it's probably not worth the effort for the box project.

Thanks for your great work 👍  I'll close this

[2022-10-11 16:34] theofidry commented on #698
Edit: I actually notice it's related to the AMPHP functions, it is very likely a weird problem there. When that happens I recommend to try the `--no-parallel` option, it is slower, but is more reliable

[2022-10-11 16:34] #698 closed

[2022-10-11 16:40] theofidry commented on #432
@rask feel free to open a new issue if you still run into a problem :)

[2022-10-11 16:40] #432 closed

[2022-10-28 02:00] violethaze74 opened #710 "@violethaze74@jazzededtech.com"
__Originally posted by @box-sdk-build in https://github.com/box/box-ios-sdk/pull/869__

[2022-10-28 06:39] theofidry commented on #710
Hi @violethaze74, I'm either really confused at what this is about or I think you got the wrong project :) This has nothing to do with the Box platform neither iOS

[2022-10-31 08:24] #710 closed

[2022-11-09 16:10] Luc45 commented on #657
There are a lot of libraries with this issue out there. The way that Box itself handles is by skip scoping the polyfills. Essentially, use this `scoper.inc.php`:

[code]

It seems to me that this opens a breach in the encapsulation of the Phar, but it's the only solution that I could find.

[2022-11-09 18:12] theofidry commented on #657
To expand on @Luc45 good explanation, there is this doc entry https://github.com/humbug/php-scoper/blob/main/docs/further-reading.md#polyfills.

Of course could be missing in which case contributions are welcomed.

I'm also aware this is a PITA, no one is happy about it, but maybe I found a way to get rid of that in the next version.

[2022-11-09 18:12] #657 closed

[2022-11-27 09:53] theofidry opened #720 "Document why there is no self-update command"
Historically, Humbug had a self-update package. I was not too happy with the implementation, there was security concerns too that I was not comfortable or familiar with and at that time there were a lot of other things to do. This resulted in that package being ditched.

Meanwhile PHPUnit also removed its self-udpate command, a piece of explanation can be found [here]( https://github.com/sebastian